.menuItem {
  border-right: 1px lightgray solid;
  height: 100vh;
  &__header {
    padding: 3px 0px 3px 7px;

    &:hover {
      background-color: rgb(248, 244, 244);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
    }
  }
  &__list {
    padding: 10px 0px 0px 20px;
  }
  &__listItem {
    &:hover {
      background-color: rgb(248, 244, 244);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
    }
  }
  &__link {
    color: #606770;
  }
  &__box {
    display: none;
  }
}
.menuShow {
  left: 0px;
}
.show {
  display: block;
}
@media screen and (max-width: 800px) {
  .menuItem {
    position: absolute;
    width: 160px;
    padding-right: 15px;
    background-color: white;
    left: -200px;

    &--open {
      left: -200px;
    }
    &--close {
      left: 0px;
    }
  }
  .menuShowBtn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: -30px;
    border: 1px solid lightgray;
    border-left: none;
    cursor: pointer;
     &--open {
      transform: rotate(0deg);
    }
    &--close {
      right: 0px;
      transform: rotate(180deg);
    }
  }
}
