.railwaySignalList {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  list-style-type: none;
  padding: 0px 50px;

  &__signal {
    display: flex;
    justify-content: center;
  }

  &__descryption {
    width: max-content;
    align-items: center;
  }
  &__title {
    text-align: center;
    font-size: 26px;
    padding-bottom: 15px;
  }
  &__paragraph {
    text-align: left;
    font-size: 20px;
  }
  & > li {
    list-style-type: none;
    display: flex;
    gap: 50px;
  }
  & > li:nth-child(2n) {
    display: flex;
    flex-direction: row-reverse;
    margin: 40px 0px;
  }
}
@media screen and (max-width: 800px) {
  .railwaySignalList {
    & > li {
      display: block;
    }
    & > li > article {
      width: 100%;
    }
    & > li > div {
      margin: 0px auto;
    }
    & > li:nth-child(2n) {
      display: block;
    }
    &__paragraph {
      font-size: 14px;
    }
    &__title {
      font-size: 20px;
    }
  }
}
