.pointsCounter {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
  }
  &__item {
    border: 1px grey solid;
    padding: 2px;
    &__icon {
      width: 20px;
      height: 29px;
    }
    &__correct {
      color: white;
      background-color: green;
      border-color: white;
    }
    &__notCorrectly {
      color: white;
      background-color: red;
      border-color: white;
    }
  }
  &__icon {
    width: 20px;
    height: 27.5px;
    border: 1px grey solid;
    cursor: pointer;
  }
}
