.navigation {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px #d5d4d4 solid;
  background-color: #FAFAFA;
  &__list {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  &__item {
    font-size: 20px;
  }
}
